@{
    ViewBag.Title = "Beneficios";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Styles.Render("~/Content/mystyles/styles.css")

<div class="img-responsive">
    <img src="../Content/img/grafica.jpg" class="top-izq" width="40%" />
    <img src="../Content/img/grafica2.jpg" class="top-izq" width="50%" />

</div>